*{
    margin: 0;
    padding: 0;
}
.main{
   padding: 200px 0;
  text-align: center;
  background: linear-gradient(to top right, #b20a3d, #14aac8);
    position: relative;
}
.main h1{
    background: linear-gradient(to top right, #1b0d1c, #c85c14);
    display: inline-block;
    position: relative;
}
.main h1::before{
    position: absolute;
    background-color: lawngreen;
    height: 5px;
    width: 50px;
    content: "";
    bottom: -2px;
    left: 0;
}
.main h1::after{
    position: absolute;
    background-color: lawngreen;
    height: 5px;
    width: 50px;
    content: "";
    top: -2px;
    right: 0;
}
.main h2::before{
    position: absolute;
    height: 5px;
    width: 60px;
    background-color: lawngreen;
    content: "";
    top: 50%;
    left: 55%;
}
.main h2::after{
    position: absolute;
    height: 5px;
    width: 60px;
    background-color: lawngreen;
    content: "";
    top: 50%;
    right: 55%;
}