*{
    margin: 0;
    padding: 0;
}
.main{
    height: 1000px;
    width: 1000px;
    background-color: rgb(167, 224, 124);
    position: relative;
    margin: 0 auto;
}
.text{
    text-decoration: underline;
    color: black;
    position: absolute;
    top: 30px;
    left: 370px;
}
.box{
    border: 2px solid black;
    height: 825px;
    width: 600px;
    background-color: rgb(182, 134, 148);
    border-radius: 1%;
    position: absolute;
    top: 130px;
    left: 150px;
}
.box1{
    height: 100px;
    width: 600px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
    display: flex;
}
.box2{
    height: 100px;
    width: 600px;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
}
.box3{
    height: 100px;
    width: 600px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
    display: flex;
}
.box4{
    height: 100px;
    width: 600px;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
}
.box5{
    height: 100px;
    width: 600px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
    display: flex;
}
.box6{
    height: 100px;
    width: 600px;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
}
.box7{
    height: 100px;
    width: 600px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
    display: flex;
}
.box8{
    height: 100px;
    width: 600px;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
}
.a1{
    height: 100px;
    width: 75px;
    background-color:rgb(119, 5, 62) ;
    border: 2px solid black;
}
.a2{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.a3{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62) ;
    border: 2px solid black;
}
.a4{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.a5{
    height: 100px;
    width: 75px;
    background-color:  rgb(119, 5, 62);
    border: 2px solid black;
}
.a6{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.a7{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.a8{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.b1{
    height: 100px;
    width: 75px;
    background-color:bisque;
    border: 2px solid black;
}
.b2{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.b3{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.b4{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.b5{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.b6{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.b7{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.b8{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.c1{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.c2{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.c3{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.c4{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.c5{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.c6{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.c7{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.c8{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.d1{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.d2{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.d3{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.d4{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.d5{
    height: 100px;
    width: 75px;
    background-color:bisque;
    border: 2px solid black;
}
.d6{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.d7{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.d8{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.e1{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.e2{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.e3{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.e4{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.e5{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.e6{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.e7{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.e8{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.f1{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.f2{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.f3{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.f4{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.f5{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.f6{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.f7{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.f8{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.g1{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.g2{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.g3{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.g4{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.g5{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.g6{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.g7{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.g8{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.h1{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.h2{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.h3{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.h4{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.h5{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.h6{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.h7{
    height: 100px;
    width: 75px;
    background-color: bisque;
    border: 2px solid black;
}
.h8{
    height: 100px;
    width: 75px;
    background-color: rgb(119, 5, 62);
    border: 2px solid black;
}
.aa1{
    font-size: 65px;
    margin-left: 5px;
}
.aa2{
    font-size: 65px;
    margin-left: 5px;
}
.aa3{
    font-size: 65px;
    margin-left: 5px;
}
.aa4{
    font-size: 65px;
    margin-left: 5px;
}
.aa5{
    font-size: 65px;
    margin-left: 5px;
}
.aa6{
    font-size: 65px;
    margin-left: 5px;
}
.aa7{
    font-size: 65px;
    margin-left: 5px;
}
.aa8{
    font-size: 65px;
    margin-left: 5px;
}
.bb1{
    font-size: 65px;
    margin-left: 5px;
}
.bb2{
    font-size: 65px;
    margin-left: 5px;
}
.bb3{
    font-size: 65px;
    margin-left: 5px;
}
.bb4{
    font-size: 65px;
    margin-left: 5px;
}
.bb5{
    font-size: 65px;
    margin-left: 5px;
}
.bb6{
    font-size: 65px;
    margin-left: 5px;
}
.bb7{
    font-size: 65px;
    margin-left: 5px;
}
.bb8{
    font-size: 65px;
    margin-left: 5px;
}
.gg1{
    font-size: 65px;
    margin-left: 5px;
}
.gg2{
    font-size: 65px;
    margin-left: 5px;
}
.gg3{
    font-size: 65px;
    margin-left: 5px;
}
.gg4{
    font-size: 65px;
    margin-left: 5px;
}
.gg5{
    font-size: 65px;
    margin-left: 5px;
}
.gg6{
    font-size: 65px;
    margin-left: 5px;
}
.gg7{
    font-size: 65px;
    margin-left: 5px;
}
.gg8{
    font-size: 65px;
    margin-left: 5px;
}
.hh1{
    font-size: 65px;
    margin-left: 5px;
}
.hh2{
    font-size: 65px;
    margin-left: 5px;
}
.hh3{
    font-size: 65px;
    margin-left: 5px;
}
.hh4{
    font-size: 65px;
    margin-left: 5px;
}
.hh5{
    font-size: 65px;
    margin-left: 5px;
}
.hh6{
    font-size: 65px;
    margin-left: 5px;
}
.hh7{
    font-size: 65px;
    margin-left: 5px;
}
.hh8{
    font-size: 65px;
    margin-left: 5px;
}